body{
  background-color: #f5f5f5;
}


.header-menu li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.header-menu a:hover:after { transform: scaleX(1); }
